*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form{
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.ModalEdit{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form-control {
  border: none !important;
  background-color: rgb(230, 230, 230) !important;
 
}

.SearchComponent
{
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: center;
  margin-left: 65%;
}
.btnAdd{
  background-color: rgb(32, 84, 238) !important;
  color: rgb(255, 255, 255) !important;
  margin: 20px; 
  
  display: flex;
  margin-left: 71% !important;
  height: 7vh;
border: none !important;
}
button{
  border: none;
  border-radius: 10px !important;
  background-color: rgb(210, 210, 210);
  width: 22%;
  margin-left: 6px !important;
}
.NavComp {
  background-color: rgb(8, 80, 249);
  color: rgb(0, 0, 0) !important;
}
.NavComp a{
 color: rgb(255, 255, 255);
}
.NavComp a:hover{
  color: rgb(255, 255, 255);
 }

 .Save{
  width: 100% !important;
 }